<!-- views/delete.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Restaurant</title>
</head>
<body>

    <h1>Delete Restaurant</h1>

    {{#if message}}
        <p>{{message}}</p>
    {{/if}}

    <form action="/api/restaurants/{{_id}}" method="post">
        <!-- Display details of the restaurant to be deleted -->
        <p><strong>Name:</strong> {{name}}</p>
        <p><strong>Cuisine:</strong> {{cuisine}}</p>
        <p><strong>Building:</strong> {{address.building}}</p>
        <p><strong>Coordinates:</strong> {{address.coord}}</p>
        <p><strong>Street:</strong> {{address.street}}</p>
        <p><strong>Zipcode:</strong> {{address.zipcode}}</p>
        <p><strong>Borough:</strong> {{address.borough}}</p>
        <p><strong>Grade Date:</strong> {{grades[0].date}}</p>
        <p><strong>Grade:</strong> {{grades[0].grade}}</p>
        <p><strong>Score:</strong> {{grades[0].score}}</p>

        <p>Are you sure you want to delete this restaurant?</p>

        <button type="submit">Delete Restaurant</button>
    </form>

</body>
</html>
